.startbutton{
    /** centre **/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /** styling **/
    height: 150px;
    width: 300px;
    font-size: 50px;
    background-color: orange;
    color: red;
    border-radius: 30%;
}

.startbutton:hover{
    background-color: rgba(255, 166, 0, 0.582);
}

.gamecontainer{
    /** centre **/
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /** styling **/
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 700px;
    opacity: 50%;
    color: black;
}

.onepbutton{
    /** centre **/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /** styling **/
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: blue;
    color: white;
}

.onepbutton:hover{
    background-color: rgba(0, 0, 255, 0.705);
}

.twopbutton{
    /** centre **/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /** styling **/
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: red;
    color: white;
}

.twopbutton:hover{
    background-color: rgba(255, 0, 0, 0.705);
}

.or{
    /** centre **/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container{
    width: 1000px;
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

.chosenpkmngrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.chosenpkmngrid > div{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
}

/** pkmn buttons **/

.pkmn1btn{
    background-color: transparent;
    border: none;
}

.pkmn2btn{
    background-color: transparent;
    border: none;
}

.pkmn3btn{
    background-color: transparent;
    border: none;
}

.pkmn4btn{
    background-color: transparent;
    border: none;
}

.pkmn5btn{
    background-color: transparent;
    border: none;
}

.pkmn6btn{
    background-color: transparent;
    border: none;
}
/** pkmn buttons end **/


.statscreenvar{
    width: 300px;
    height: 600px;
    margin: 0;
    position: absolute;
    top: 61%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: aqua;

    text-align: center;
    border-radius: 12px;
}

.statsconf{
    background-color: greenyellow;
    border-radius: 12px;
}

.statscanc{
    background-color: red;
    border-radius: 12px;
}